@import url('https://fonts.googleapis.com/css2?family=Cabin');
/*
IMAGES CREDITS:
https://data.theotown.com//get_file.php?t=gl&n=2jf03rjje2jh0fmgbrp0k8wonoze1avv_a

https://data.theotown.com//get_file.php?t=gl&n=hx9f4yyzkzto5re5q72wzku4we03vlm6_a
https://data.theotown.com//get_file.php?t=gl&n=0e1frzirfi3u2lb34nyns1e2g0fxowxk_a
https://data.theotown.com//get_file.php?t=gl&n=yl4l8nidwxmcns2w402ma31axrx28dhi_a
https://data.theotown.com//get_file.php?t=gl&n=t4iw8rsi75ri7dwuo1pv9lyywtjh8a2c_a
https://data.theotown.com//get_file.php?t=gl&n=rokvff929oz0mre2lgf1kfzc4dsqf1iz_a

*/


:root {
  --TTCL-01: #CEE5ED; /*Border*/
  --TTCL-02: #3D5F6B; /*Background*/
  --TTCL-03: #60828E; /*Overlay*/
  --YKCL-01: rgb(247, 247, 255); /* White #f7f7ff */
  --YKCL-02: rgb(77, 139, 49); /*Dark Green #4d8b31 */
  --YKCL-03: rgb(221, 232, 185); /*Light Green #dde8b9 */
  --YKCL-04: rgb(24, 22, 23); /* Black 1 #181617 */
  --YKCL-05: rgb(45, 43, 44); /*Black 2 #131117 */
  --YKCL-06: rgb(255, 153, 00); /* Digital Fox orange #ff8427 */
}

body {
  font-family: "Cabin", sans-serif;
}
img,
svg {
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat",Sans-Serif;
  font-weight: 700;
}

/* Classes */
.body-yk {
  background-color: var(--YKCL-06);
  font-family: "Cabin", Sans-Serif;
  background: linear-gradient(rgba(0,0,20,0.45),transparent),url("IMG/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.yk-nav-top {
  background: linear-gradient(rgba(0,0,20,0.8),transparent);
  color: var(--YKCL-01);
}
.yk-nav-bottom {
  background: linear-gradient(transparent,rgba(0,0,20,0.8));
  color: var(--YKCL-01);
}
.yk-mcont {
  height: 80vh;
}
.yk-modal {
  background-color: rgba(200, 200, 220, 0.5);
  color: rgb(20,20,40);
  border-radius: 0.5rem;
  backdrop-filter: blur(1rem);
  color: var(--YKCL-01);
}
.yk-modal-header {
  border-bottom: none;
}
.yk-modal-body {
  min-height: 32vh;
}
.yk-modal-footer {
  border-top: none;
}
.logo {
  height: 2em;
  border-radius: 0.5rem;
}
.fs-alert {
  font-size: 1em;
}
@media (min-width:990px) {
  .yk-modal {
    border: 1px solid rgb(200,200,220);
  }
}